certifi==2026.1.4
charset-normalizer==3.4.4
gunicorn==24.1.1
idna==3.11
iniconfig==2.3.0
packaging==26.0
parse==1.20.2
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
requests==2.32.5
requests-wsgi-adapter==0.4.1
urllib3==2.6.3
WebOb==1.8.9
Jinja2==3.1.6
whitenoise==6.11.0